.footer {
  background-color: var(--sirena-white);
  padding: 30px 160px;
  border-top: 1px solid var(--sirena-gray-light);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 150px;
  max-width: 1120px;
  margin: 0 auto;
}

.footer-about {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  max-width: 535px;
}

.footer-about h2 {
  color: var(--sirena-black);
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 19px;
  min-width: 160px;
}

.footer-social h2 {
  color: var(--sirena-black);
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--sirena-text-muted);
  font-size: var(--font-body-medium);
  transition: var(--transition-base);
}

.footer-link:hover {
  color: var(--sirena-primary);
}

.footer-link svg {
  width: 24px;
  height: 24px;
}

@media (max-width: 1200px) {
  .footer {
    padding: 30px 80px;
  }
  
  .footer-container {
    gap: 80px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 30px 40px;
  }
  
  .footer-container {
    flex-direction: column;
    gap: 40px;
  }
  
  .footer-about {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 30px 20px;
  }
}
